.conteudo-container {
    display: flex;
    height: 69%; /* Ocupa 55% da altura da tela */
    margin-bottom: 2rem;
  }
  
  .centered-image {
    width: 100%; /* Largura da imagem */
    height: 30rem; /* Altura da imagem */
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .centered-image{ 
     width: 100%;
     height: 11rem;
  }
  }