.banner-container {
.banner-image {
  width: 100%; 
  height: auto; 
  display: block; 
  object-fit: cover; 
  object-position: center; 
}

h1 {
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px; 
  font-size: 2.5rem;
}


    
 .container-icons > p{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    margin-bottom: 2rem;
 } 

.testeP {
 
    font-size: 1.5rem;
    padding-left: 1rem;
}

.text-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;

}

}